.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.linkinput {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 0.7rem 0.8rem 0.8rem;
  background: rgba(245, 245, 245, 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.linkinput:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-position: 0% 0%;
  background: #1da1f2;
  opacity: 0.3;
  transition: opacity 200ms ease;
}

.linkinput:has(input:focus):after {
  opacity: 0.7;
  transition: opacity 200ms ease;
}

.linkinput input {
  flex-grow: 1;
  color: rgba(26, 26, 26, 1);
  font-size: 1.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  min-width: 0;
}
.linkinput input::-webkit-input-placeholder {
  color: rgba(180, 180, 180, 0.8);
}

.linkinput button {
  color: #1da1f2;;
  margin-left: 12px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  opacity: 0.3;
  transition: opacity 0.25s;
}

.linkinput button:hover {
  opacity: 0.7;
  cursor: pointer;
}