.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.loading:after {
  background: linear-gradient(270deg, rgb(240,240,240), rgb(140,140,140), rgb(240,240,240));
  background-size: 400% 400%;

  -webkit-animation: animation 5s ease infinite;
  -moz-animation: animation 5s ease infinite;
  animation: animation 5s ease infinite;
  opacity: 1;
}

@keyframes animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:200% 50%}
}

.loading button {
  display: none;
}